html{-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:rgba(0,0,0,0)}
a,img{-webkit-touch-callout:none}
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
li{list-style:none}
table{border-collapse:collapse;border-spacing:0}
input:focus,textarea:focus,button:focus{outline:0}
a,a:hover{text-decoration:none}
button,input,textarea,select{font-family:inherit;font-size:100%}
body{font:12px/1.5 "FZLTXIHJW--GB1-0","hiragino sans gb","Helvetica Neue",Helvetica,STHeiTi,Arial;background:#000;color:#49c4bf;-webkit-tap-highlight-color:rgba(0,0,0,0)}
html,body{height:100%}
.none{display:none}
.ht{display:block;width:0;height:0;overflow:hidden;text-indent:-999em}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.clearfix{*zoom:1}
.tips-arrow{position:absolute;left:50%;bottom:14px;margin-left:-14px;width:28px;height:15px;background:url(../images/icon/arrow.png) no-repeat;background-size:28px 15px;-webkit-animation:slideUp 2s infinite ease-out}
#loading{position:absolute;width:200px;height:10px;background:#f5ce13;margin:-10px 0 0 -100px;top:50%;left:50%;border-radius:5px;overflow:hidden;-webkit-transition:opacity .5s;z-index:999}
#loading div{float:left;height:10px;background:#5cb531;width:0;-webkit-transition:width 1s;border-radius:5px}
.mask{position:absolute;top:0;right:0;left:0;bottom:0;background:#000;z-index:999}
.audio_btn{width:29px;height:29px;background:url(../images/icon/music-ico.png) no-repeat;background-size:63px auto}
.audio_btn{background-position:-34px 0}
.audio_btn.pause{background-position:0 0}
.audio_btn{position:absolute;z-index:20;display:block;color:#727272}
.audio_btn{top:10px;right:10px}
.share-dialog{position:absolute;top:0;left:0;background:rgba(0,0,0,.7) url(../images/icon/share-tips.png) no-repeat 70% 5%;background-size:80%;width:100%;height:100%;display:none;z-index:99}
.item-1{background:#050811 url(../images/sec-1.jpg) center top no-repeat;background-size:cover}
.item-1 .content{position:relative;padding-top:69px;-webkit-transform-origin:center top}
.item-1 .query{margin:0 auto 40px;width:162px;height:261px;background:url(../images/query-ico.png) no-repeat;background-size:162px;height:261px;opacity:0}
.item-1 .descr div{margin:0 auto;opacity:0}
.item-1 .txt-1{width:320px;height:36px;background:url(../images/textbg/sec1-txt1.png) no-repeat;background-size:320px 36px}
.item-1 .txt-2{width:320px;height:26px;background:url(../images/textbg/sec1-txt2.png) no-repeat;background-size:320px 26px}
.item-1.play .query{-webkit-animation:bounceIn 1.5s ease both}
.item-1.play .txt-1{-webkit-animation:fadeInRight 2s .5s ease both}
.item-1.play .txt-2{-webkit-animation:fadeInRight 2s 1s ease both}
@-webkit-keyframes bounceIn{0%{opacity:0;-webkit-transform:scale(.3)}
50%{-webkit-transform:scale(1.05)}
70%{-webkit-transform:scale(.9)}
100%{opacity:1;-webkit-transform:scale(1)}}
@-webkit-keyframes slideUp{0%,30%{opacity:0;-webkit-transform:translate3d(0,10px,0)}
60%{opacity:1;-webkit-transform:translate3d(0,0,0)}
100%{opacity:0;-webkit-transform:translate3d(0,-8px,0)}}
@-webkit-keyframes fadeInRight{0%{opacity:0;-webkit-transform:translateX(40px)}
100%{opacity:1;-webkit-transform:translateX(0)}}
.item-2{background:#000}
.item-2 .content{position:relative;margin:0 auto;width:320px;overflow:hidden;height:100%;-webkit-transform-origin:center top}
.item-2 .show-pic{margin:0 auto 14px;padding-top:7px}
.item-2 .little-shade{position:absolute;top:0;left:-30px;right:0;margin:0 auto;opacity:.9}
.item-2 .big-shade{position:absolute;top:0;left:50%;-webkit-transform:translateX(-50%)}
.item-2 .descr{position:relative;z-index:2}
.item-2 .descr div{margin:0 auto;opacity:0}
.item-2 .txt-1{width:320px;height:36px;background:url(../images/textbg/sec2-txt1.png) no-repeat;background-size:320px 36px}
.item-2 .txt-2{width:320px;height:22px;background:url(../images/textbg/sec2-txt2.png) no-repeat;background-size:320px 22px}
.item-2 .txt-3{width:320px;height:22px;background:url(../images/textbg/sec2-txt3.png) no-repeat;background-size:320px 22px}
.item-2 .txt-4{width:320px;height:22px;background:url(../images/textbg/sec2-txt4.png) no-repeat;background-size:320px 22px}
.item-2.play .show-pic{-webkit-animation:scalePic 10s .5s linear infinite alternate}
.item-2.play .little-shade{-webkit-animation:moveShade 2.5s ease forwards}
.item-2.play .txt-1{-webkit-animation:fadeInRight 2s .5s ease both}
.item-2.play .txt-2{-webkit-animation:fadeInRight 2s 1s ease both}
.item-2.play .txt-3{-webkit-animation:fadeInRight 2s 1.5s ease both}
.item-2.play .txt-4{-webkit-animation:fadeInRight 2s 2s ease both}
@-webkit-keyframes scalePic{0%{-webkit-transform:scale(1)}
100%{-webkit-transform:scale(1.1)}}
@-webkit-keyframes moveShade{0%{-webkit-transform:translate(0,0)}
100%{-webkit-transform:translate(500px,-120px)}}
.item-3{background:#050711}
.item-3 .content{position:relative;margin:0 auto;width:320px;overflow:hidden;height:100%;-webkit-transform-origin:center top}
.item-3 .show-pic{margin:0 auto 14px;padding-top:22px}
.item-3 .little-shade{position:absolute;top:5px;left:-8px;right:0;margin:0 auto}
.item-3 .big-shade{position:absolute;top:0;left:50%;-webkit-transform:translateX(-50%)}
.item-3 .descr{position:relative;z-index:2}
.item-3 .descr div{margin:0 auto;opacity:0}
.item-3 .txt-1{width:320px;height:36px;background:url(../images/textbg/sec3-txt1.png) no-repeat;background-size:320px 36px}
.item-3 .txt-2{width:320px;height:22px;background:url(../images/textbg/sec3-txt2.png) no-repeat;background-size:320px 22px}
.item-3 .txt-3{width:320px;height:22px;background:url(../images/textbg/sec3-txt3.png) no-repeat;background-size:320px 22px}
.item-3 .txt-4{width:320px;height:22px;background:url(../images/textbg/sec3-txt4.png) no-repeat;background-size:320px 22px}
.item-3.play .show-pic{-webkit-animation:scalePic 10s .5s linear infinite alternate}
.item-3.play .little-shade{-webkit-animation:moveShade 3s ease forwards}
.item-3.play .descr .txt-1{-webkit-animation:fadeInRight 2s .5s ease both}
.item-3.play .descr .txt-2{-webkit-animation:fadeInRight 2s 1s ease both}
.item-3.play .descr .txt-3{-webkit-animation:fadeInRight 2s 1.5s ease both}
.item-3.play .descr .txt-4{-webkit-animation:fadeInRight 2s 2s ease both}
.item-4{background:#050711}
.item-4 .content{position:relative;margin:0 auto;width:320px;overflow:hidden;height:100%;-webkit-transform-origin:center top}
.item-4 .show-pic{margin:0 auto 14px;padding-top:12px}
.item-4 .little-shade{position:absolute;top:5px;left:-8px;right:0;margin:0 auto;opacity:1}
.item-4 .big-shade{position:absolute;top:0;left:50%;-webkit-transform:translateX(-50%)}
.item-4 .descr{position:relative;z-index:2}
.item-4 .descr div{margin:0 auto;opacity:0}
.item-4 .txt-1{width:320px;height:36px;background:url(../images/textbg/sec4-txt1.png) no-repeat;background-size:320px 36px}
.item-4 .txt-2{width:320px;height:30px;background:url(../images/textbg/sec4-txt2.png) no-repeat;background-size:320px 30px}
.item-4 .txt-3{width:320px;height:22px;background:url(../images/textbg/sec4-txt3.png) no-repeat;background-size:320px 22px}
.item-4.play .show-pic{-webkit-animation:scalePic 10s .5s linear infinite alternate}
.item-4.play .little-shade{-webkit-animation:moveShade 3s ease forwards}
.item-4.play .descr .txt-1{-webkit-animation:fadeInRight 2s .5s ease both}
.item-4.play .descr .txt-2{-webkit-animation:fadeInRight 2s 1s ease both}
.item-4.play .descr .txt-3{-webkit-animation:fadeInRight 2s 1.5s ease both}
.item-4.play .descr .txt-4{-webkit-animation:fadeInRight 2s 2s ease both}
.item-5 .content{position:relative;margin:0 auto;width:320px;height:100%;-webkit-transform-origin:center top}
.item-5 .fragment-pic{position:relative;overflow:hidden;z-index:1}
.item-5 .fragment-pic li{float:left;width:64px;height:64px;opacity:0}
.item-5 .descr{position:relative;margin-top:-40px;z-index:2}
.item-5 .descr div{opacity:0}
.item-5 .descr .txt-1{width:320px;height:36px;background:url(../images/textbg/sec5-txt1.png) no-repeat;background-size:320px 36px}
.item-5 .descr .txt-2{width:320px;height:22px;background:url(../images/textbg/sec5-txt2.png) no-repeat;background-size:320px 22px}
.item-5 .descr .txt-3{width:320px;height:30px;background:url(../images/textbg/sec5-txt3.png) no-repeat;background-size:320px 30px}
.item-5.play .descr .txt-1{-webkit-animation:fadeInRight 2s .5s both}
.item-5.play .descr .txt-2{-webkit-animation:fadeInRight 2s 1s both}
.item-5.play .descr .txt-3{-webkit-animation:fadeInRight 2s 1.5s both}
.item-5.play .flipIn-1{-webkit-animation:flipInY 1s ease both}
.item-5.play .flipIn-2{-webkit-animation:flipInY 1s .1s ease both}
.item-5.play .flipIn-3{-webkit-animation:flipInY 1s .2s ease both}
.item-5.play .flipIn-4{-webkit-animation:flipInY 1s .3s ease both}
.item-5.play .flipIn-5{-webkit-animation:flipInY 1s .4s ease both}
.item-5.play .flipIn-6{-webkit-animation:flipInY 1s .5s ease both}
.item-5.play .flipIn-7{-webkit-animation:flipInY 1s .6s ease both}
.item-5.play .flipIn-8{-webkit-animation:flipInY 1s .7s ease both}
.item-5.play .flipIn-9{-webkit-animation:flipInY 1s .8s ease both}
.item-5.play .flipIn-10{-webkit-animation:flipInY 1s .9s ease both}
.item-5.play .flipIn-11{-webkit-animation:flipInY 1s 1s ease both}
.item-5.play .flipIn-12{-webkit-animation:flipInY 1s 1.1s ease both}
.item-5.play .flipIn-13{-webkit-animation:flipInY 1s 1.2s ease both}
.item-5.play .flipIn-14{-webkit-animation:flipInY 1s 1.3s ease both}
.item-5.play .flipIn-15{-webkit-animation:flipInY 1s 1.4s ease both}
.item-5.play .flipIn-16{-webkit-animation:flipInY 1s 1.5s ease both}
.item-5.play .flipIn-17{-webkit-animation:flipInY 1s 1.6s ease both}
.item-5.play .flipIn-18{-webkit-animation:flipInY 1s 1.7s ease both}
.item-5.play .flipIn-19{-webkit-animation:flipInY 1s 1.8s ease both}
.item-5.play .flipIn-20{-webkit-animation:flipInY 1s 1.9s ease both}
.item-5.play .flipIn-21{-webkit-animation:flipInY 1s 2s ease both}
.item-5.play .flipIn-22{-webkit-animation:flipInY 1s 2.1s ease both}
.item-5.play .flipIn-23{-webkit-animation:flipInY 1s 2.2s ease both}
.item-5.play .flipIn-24{-webkit-animation:flipInY 1s 2.3s ease both}
.item-5.play .flipIn-25{-webkit-animation:flipInY 1s 2.4s ease both}
.item-5.play .flipIn-26{-webkit-animation:flipInY 1s 2.5s ease both}
.item-5.play .flipIn-27{-webkit-animation:flipInY 1s 2.6s ease both}
.item-5.play .flipIn-28{-webkit-animation:flipInY 1s 2.7s ease both}
.item-5.play .flipIn-29{-webkit-animation:flipInY 1s 2.8s ease both}
.item-5.play .flipIn-30{-webkit-animation:flipInY 1s 2.9s ease both}
@-webkit-keyframes flipInY{0%{-webkit-transform:perspective(400px) rotateY(90deg);opacity:0}
40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
70%{-webkit-transform:perspective(400px) rotateY(10deg)}
100%{-webkit-transform:perspective(400px) rotateY(0deg);opacity:1}}
.item-6{background:#020307 url(../images/sec-6.jpg) center top no-repeat;background-size:cover}
.item-6 .content{position:relative;margin:0 auto;width:320px;height:100%;-webkit-transform-origin:center top}
.item-6 .love{margin:79px auto 26px;width:272px;height:236px;background:url(../images/love-ico.png) no-repeat;background-size:272px 236px;opacity:0}
.item-6 .descr div{opacity:0}
.item-6 .descr .txt-1{width:320px;height:36px;background:url(../images/textbg/sec6-txt1.png) no-repeat;background-size:320px 36px}
.item-6 .descr .txt-2{width:320px;height:22px;background:url(../images/textbg/sec6-txt2.png) no-repeat;background-size:320px 22px}
.item-6 .descr .txt-3{width:320px;height:22px;background:url(../images/textbg/sec6-txt3.png) no-repeat;background-size:320px 22px}
.item-6.play .love{-webkit-animation:fadeIn 2s ease both}
.item-6.play .descr .txt-1{-webkit-animation:fadeInRight 2s .5s ease both}
.item-6.play .descr .txt-2{-webkit-animation:fadeInRight 2s 1s ease both}
.item-6.play .descr .txt-3{-webkit-animation:fadeInRight 2s 1.5s ease both}
@-webkit-keyframes fadeIn{0%{opacity:0}
100%{opacity:1}}
.item-7{background:#020307 url(../images/sec-6.jpg) center top no-repeat;background-size:cover}
.item-7 .content{position:relative;margin:0 auto;width:320px;-webkit-transform-origin:center top}
.item-7 .my-number p{opacity:0}
.item-7 .my-number{padding:50px 0 22px 0;color:#fff;font-size:14px;line-height:26px;text-align:center}
.item-7 .my-number span{color:#d3966d}
.item-7 .title{margin:0 auto 37px;width:320px;height:36px;background:url(../images/textbg/sec7-title.png) no-repeat;background-size:320px 36px;opacity:0}
.item-7 .hand-qq{margin:0 auto 52px;width:145px;height:152px;background:url(../images/hand-qq.png) no-repeat;background-size:145px 152px;opacity:0}
.item-7 .share-btn{margin:0 auto;display:block;width:113px;height:27px;line-height:27px;border:2px solid #9b9b9d;text-align:center;color:#b8b8b9;font-size:18px;-webkit-border-radius:8px;border-radius:8px;opacity:0}
.item-7.play .my-number p:nth-child(1){-webkit-animation:fadeInRight 2s ease both}
.item-7.play .my-number p:nth-child(2){-webkit-animation:fadeInRight 2s .5s ease both}
.item-7.play .my-number p:nth-child(3){-webkit-animation:fadeInRight 2s 1s ease both}
.item-7.play .title{-webkit-animation:bounceIn 1.5s 1.5s ease both}
.item-7.play .hand-qq{-webkit-animation:fadeIn 1s 2s ease both}
.item-7.play .share-btn{-webkit-animation:fadeInUp 2s 2.5s ease both}
@-webkit-keyframes flipInX{0%{-webkit-transform:perspective(400px) rotateX(90deg);opacity:0}
40%{-webkit-transform:perspective(400px) rotateX(-10deg)}
70%{-webkit-transform:perspective(400px) rotateX(10deg)}
100%{-webkit-transform:perspective(400px) rotateX(0deg);opacity:1}}
@-webkit-keyframes fadeInUp{0%{opacity:0;-webkit-transform:translateY(20px)}
100%{opacity:1;-webkit-transform:translateY(0)}}
@media screen and (max-height:480px){.item-2 .lonely-descr{margin-top:-20px}
.item-3 .lonely-descr{margin-top:-50px}
.item-4 .lonely-descr{margin-top:-40px}}
@media screen and (max-height:400px){.item-1 .descr{margin-top:0}
.item-2 .descr{margin-top:-75px}
.item-3 .descr{margin-top:-90px}
.item-4 .descr{margin-top:-75px}
.item-7 .hand-qq{margin-bottom:30px}}
@media screen and (min-height:400px) and (max-height:450px){.item-1 .descr{margin-top:0}
.item-2 .descr{margin-top:-60px}
.item-3 .descr{margin-top:-75px}
.item-4 .descr{margin-top:-60px}
.item-7 .hand-qq{margin-bottom:30px}}
@media screen and (min-height:450px) and (max-height:500px){.item .descr{margin-top:-35px}
.item-1 .descr,.item-6 .descr{margin-top:0}}
#CssGaga{content:"150427112330,juu,333"}/*  |xGv00|d520ccb59c41f04fb7569cbe35fb93db */